// Main Components

section {
  width:100%;
}

.container {
  max-width:1024px;
  margin:0 auto;
  padding:20px;
}

.row{
  overflow: auto;
}

.left {
  float:left;
}

.right {
  float:right;
}

.space-left {
  margin-left:16px;
}

.two-column {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  .left, .right {
    width:100%;
    box-sizing: border-box;
    @media (min-width:660px){
      width:50%;
      padding:20px;
    }
  }
}

.reorder{
  order:-1;
  @media (min-width:660px){
    order:0;
  }
}

.img-full{
  width: 100%;
}

.cta{
  background: $blue-base;
  min-height: 400px;
}

footer{
  background: $blue-dark;
  padding:20px 0px;
  transition: background 0.2s ease;
  &:hover{
    background: $blue-heavy;
  }
}

.desktop-only{
  display:none !important;
  @media (min-width:660px){
    display:inline-block !important;
  }
}

.mob-only{
  display:inline-block !important;
  @media (min-width:660px){
    display:none !important;
  }
}

@mixin grid($size, $pixel){
  .grid-top-#{$size}{
    margin-top:$pixel;
    &.grid-desktop{
      @media (max-width:660px) {margin-top:0px;}
    }
    &.grid-mobile{
      @media (min-width:660px) {margin-top:0px;}
    }
  }
  .grid-bottom-#{$size}{
    margin-bottom:$pixel;
    &.grid-desktop{
      @media (max-width:660px) {margin-bottom:0px;}
    }
    &.grid-mobile{
      @media (min-width:660px) {margin-bottom:0px;}
    }
  }
  .grid-v-#{$size}{
    margin:$pixel 0;
    &.grid-desktop{
      @media (max-width:660px) {margin:0px;}
    }
    &.grid-mobile{
      @media (min-width:660px) {margin:0px;}
    }
  }
}

@include grid(xs, 15px);
@include grid(md, 30px);
@include grid(lg, 60px);
@include grid(xl, 90px);
